In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv(r'drive/MyDrive/project/emotion.csv')

In [ ]:
df.head()

   Unnamed: 0     0                                                  1      2
0           0  test  64 62 64 65 62 63 65 65 63 69 63 65 66 114 146...  angry
1           1  test  121 139 145 130 129 132 144 137 132 142 122 14...  angry
2           2  test  67 65 59 60 42 16 4 6 13 39 82 126 150 161 173...  angry
3           3  test  92 93 90 85 207 237 226 226 233 233 218 202 20...  angry
4           4  test  173 170 160 142 118 86 25 10 20 26 31 34 59 98...  angry

In [ ]:
df.shape

(35887, 4)

In [ ]:
df.columns

Index(['Unnamed: 0', '0', '1', '2'], dtype='object')

In [ ]:
df.drop(columns={'Unnamed: 0'}, inplace=True)

In [ ]:
df.rename(columns={'0':'type','1':'pixel','2':'mood'},inplace=True)

In [ ]:
df.head()

   type                                              pixel   mood
0  test  64 62 64 65 62 63 65 65 63 69 63 65 66 114 146...  angry
1  test  121 139 145 130 129 132 144 137 132 142 122 14...  angry
2  test  67 65 59 60 42 16 4 6 13 39 82 126 150 161 173...  angry
3  test  92 93 90 85 207 237 226 226 233 233 218 202 20...  angry
4  test  173 170 160 142 118 86 25 10 20 26 31 34 59 98...  angry

In [ ]:
df[[i for i in range(len(df['pixel'][0].split()))]]=df['pixel'].str.split(expand = True).astype('int')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[k1] = value[k2]

In [ ]:
df.head()

,type,pixel,mood,0,1,2,3,4,5,6,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,test,64 62 64 65 62 63 65 65 63 69 63 65 66 114 146...,angry,64,62,64,65,62,63,65,...,91,94,86,86,70,82,78,75,72,82
1,test,121 139 145 130 129 132 144 137 132 142 122 14...,angry,121,139,145,130,129,132,144,...,178,176,177,176,174,172,171,171,171,171
2,test,67 65 59 60 42 16 4 6 13 39 82 126 150 161 173...,angry,67,65,59,60,42,16,4,...,141,154,159,132,113,137,141,138,136,136
3,test,92 93 90 85 207 237 226 226 233 233 218 202 20...,angry,92,93,90,85,207,237,226,...,11,36,56,27,1,4,5,4,4,1
4,test,173 170 160 142 118 86 25 10 20 26 31 34 59 98...,angry,173,170,160,142,118,86,25,...,208,204,193,199,199,188,167,89,94,102

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
df['mood']=le.fit_transform(df['mood'])

In [ ]:
le.classes_

array(['angry', 'disgust', 'fear', 'happy', 'neutral', 'sad', 'surprise'],
      dtype=object)

In [ ]:
df.to_csv('data.csv')

In [ ]:
test = df[df['type']=='test']

In [ ]:
train = df[df['type']=='train']

In [ ]:
test.head()

,type,pixel,mood,0,1,2,3,4,5,6,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,test,64 62 64 65 62 63 65 65 63 69 63 65 66 114 146...,0,64,62,64,65,62,63,65,...,91,94,86,86,70,82,78,75,72,82
1,test,121 139 145 130 129 132 144 137 132 142 122 14...,0,121,139,145,130,129,132,144,...,178,176,177,176,174,172,171,171,171,171
2,test,67 65 59 60 42 16 4 6 13 39 82 126 150 161 173...,0,67,65,59,60,42,16,4,...,141,154,159,132,113,137,141,138,136,136
3,test,92 93 90 85 207 237 226 226 233 233 218 202 20...,0,92,93,90,85,207,237,226,...,11,36,56,27,1,4,5,4,4,1
4,test,173 170 160 142 118 86 25 10 20 26 31 34 59 98...,0,173,170,160,142,118,86,25,...,208,204,193,199,199,188,167,89,94,102

In [ ]:
x_test = test.drop(columns={'type','pixel','mood'})
y_test = test['mood']

In [ ]:
x_train = train.drop(columns={'type','pixel','mood'})
y_train = train['mood']

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [ ]:
xtrain = sc.fit_transform(x_train)
xtest = sc.transform(x_test)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)

In [ ]:
pca2 = PCA(n_components =5)

In [ ]:
X_train = pca.fit_transform(xtrain)
X_test = pca.transform(xtest)

In [ ]:
x2_train = pca2.fit_transform(xtrain)
x2_test = pca2.transform(xtest)

In [ ]:
pca.explained_variance_ratio_

array([0.29127836, 0.09276468])

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', max_iter=1000)

In [ ]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
 
cm = confusion_matrix(y_test, y_pred)

In [ ]:
cm

array([[   0,    0,   12,  776,    0,  133,   37],
       [   0,    0,    0,   95,    0,    9,    7],
       [   0,    0,   10,  867,    1,   99,   47],
       [   0,    0,    9, 1519,    0,  190,   56],
       [   0,    0,   12,  988,    0,  198,   35],
       [   0,    0,   11,  981,    0,  230,   25],
       [   0,    0,   18,  685,    0,   44,   84]])

In [ ]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test,y_pred)

In [ ]:
ac

0.25675675675675674

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC,LinearSVC

In [ ]:
models =[KNeighborsClassifier(),GaussianNB(),RandomForestClassifier(),SVC(),LinearSVC()]

In [ ]:
from sklearn.metrics import accuracy_score

#PCA with 2 components

In [ ]:
for modl in models:
    model=modl.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    score=accuracy_score(y_test,y_pred)
    print("For "+type(model).__name__+" is------\n")
    print("Accuracy is",score)
    print('\n\n--------------------------------------------------------------------------------------------\n\n')

For KNeighborsClassifier is------

Accuracy is 0.21983839509612704


--------------------------------------------------------------------------------------------


For GaussianNB is------

Accuracy is 0.25703538590136527


--------------------------------------------------------------------------------------------


For RandomForestClassifier is------

Accuracy is 0.26623014767344666


--------------------------------------------------------------------------------------------


For SVC is------

Accuracy is 0.25466703817219283


--------------------------------------------------------------------------------------------


For LinearSVC is------

Accuracy is 0.2302869880189468


--------------------------------------------------------------------------------------------

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [ ]:
models =[KNeighborsClassifier(),GaussianNB(),RandomForestClassifier()]

#Normal data

In [ ]:
for modl in models:
    model=modl.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    score=accuracy_score(y_test,y_pred)
    print("For "+type(model).__name__+" is------\n")
    print("Accuracy is",score)
    print('\n\n--------------------------------------------------------------------------------------------\n\n')

For KNeighborsClassifier is------

Accuracy is 0.3344942881025355


--------------------------------------------------------------------------------------------


For GaussianNB is------

Accuracy is 0.22638617999442742


--------------------------------------------------------------------------------------------


For RandomForestClassifier is------

Accuracy is 0.46475341320702146


--------------------------------------------------------------------------------------------

#Data Scaled by Standard Scalar

In [ ]:
for modl in models:
    model=modl.fit(xtrain,y_train)
    y_pred=model.predict(xtest)
    score=accuracy_score(y_test,y_pred)
    print("For "+type(model).__name__+" is------\n")
    print("Accuracy is",score)
    print('\n\n--------------------------------------------------------------------------------------------\n\n')

For KNeighborsClassifier is------

Accuracy is 0.34076344385622737


--------------------------------------------------------------------------------------------


For GaussianNB is------

Accuracy is 0.22638617999442742


--------------------------------------------------------------------------------------------


For RandomForestClassifier is------

Accuracy is 0.46336026748397885


--------------------------------------------------------------------------------------------

#PCA with 5 compnents

In [ ]:
for modl in models:
    model=modl.fit(x2_train,y_train)
    y_pred=model.predict(x2_test)
    score=accuracy_score(y_test,y_pred)
    print("For "+type(model).__name__+" is------\n")
    print("Accuracy is",score)
    print('\n\n--------------------------------------------------------------------------------------------\n\n')

For KNeighborsClassifier is------

Accuracy is 0.27291724714405124


--------------------------------------------------------------------------------------------


For GaussianNB is------

Accuracy is 0.26804123711340205


--------------------------------------------------------------------------------------------


For RandomForestClassifier is------

Accuracy is 0.3556701030927835


--------------------------------------------------------------------------------------------

#By Scaliing

In [ ]:
xx_test = x_test/255
xx_train = x_train/255

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [ ]:
scaled_train = sc.fit_transform(xx_train)
scaled_test= sc.transform(xx_test)

In [ ]:
models =[KNeighborsClassifier(),GaussianNB(),RandomForestClassifier()]

In [ ]:
for modl in models:
    model=modl.fit(xx_train,y_train)
    y_pred=model.predict(xx_test)
    score=accuracy_score(y_test,y_pred)
    print("For "+type(model).__name__+" is------\n")
    print("Accuracy is",score)
    print('\n\n--------------------------------------------------------------------------------------------\n\n')

For KNeighborsClassifier is------

Accuracy is 0.3344942881025355


--------------------------------------------------------------------------------------------


For GaussianNB is------

Accuracy is 0.22638617999442742


--------------------------------------------------------------------------------------------


For RandomForestClassifier is------

Accuracy is 0.46586792978545555


--------------------------------------------------------------------------------------------

In [ ]:
for modl in models:
    model=modl.fit(scaled_train,y_train)
    y_pred=model.predict(scaled_test)
    score=accuracy_score(y_test,y_pred)
    print("For "+type(model).__name__+" is------\n")
    print("Accuracy is",score)
    print('\n\n--------------------------------------------------------------------------------------------\n\n')

For KNeighborsClassifier is------

Accuracy is 0.34076344385622737


--------------------------------------------------------------------------------------------


For GaussianNB is------

Accuracy is 0.22638617999442742


--------------------------------------------------------------------------------------------


For RandomForestClassifier is------

Accuracy is 0.4699080523822792


--------------------------------------------------------------------------------------------